{% if not user_authenticated %}
    <script>
        // Redirect the user to the login page if they are not authenticated
        window.location.href = "/admin_login_page";
    </script>
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Dashboard</title>
<!--BOOTSTRAP CDN-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--FONTS-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
<!--ICONS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<!--CSS-->
<link href="/static/css/admin-A&M.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<a class="navbar-brand" href="/">
    <img src="/static/img/logo.png" width="50" height="auto" class="d-inline-block align-top logo" alt="Logo">
    <h5 class="dental-title">ARC-Smile Dental Center</h5>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin_dashboard_page" style="color:white;">ADMIN</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-xl">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <a href="/admin_dashboard_page"><button class="btn btn-dark custom-tabs" style="height:40px;border: 2px solid #E1E4E0;width:170px;">
        <i class="fa fa-tachometer mb-3" aria-hidden="true"></i>
        Dashboard
      </button></a>
    </div>
    <div class="col-md-2">
      <a href="/admin_tables_page"><button class="btn btn-dark custom-tabs" style="height:40px;width:170px;">
        <i class="fa fa-users mb-3" aria-hidden="true"></i>
        Patient Records
      </button></a>
    </div>
    <div class="col-md-2">
      <a href="/admin_calendar_page"><button class="btn btn-dark custom-tabs" style="height:40px;width:170px;">
        <i class="fa fa-calendar mb-3" aria-hidden="true"></i>
        Clinic Calendar
      </button></a>
    </div>
    <div class="col-md-3">
      <a href="/admin_A&M_page"><button class="btn btn-dark custom-tabs" style="height:40px;">
        <i class="fa fa-paper-plane mb-3" aria-hidden="true"></i>
        Appointments & Messages
      </button></a>
    </div>
    <div class="col-md-2">
      <a href="/admin_account_page"><button class="btn btn-dark custom-tabs" style="height:40px;">
        <i class="fa fa-paper-plane mb-3" aria-hidden="true"></i>
        Accounts
      </button></a>
    </div>
  <div class="col-md-1">
  <form method="get" action="/logout">
    <button class="btn btn-dark" style="width:100px; height:auto;border-radius:10px;border-width:5px;border: 3px solid #3A3D6D;" type="submit">Log Out</button>
  </form>
  </div>
  </div>
</div>
    <div class="container-xl">
  <hr>

<div class="row">
<div class="col-sm-6">
      <div class="table-responsive mb-4">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2><b>Admin</b></h2>
                    </div>
                </div>
            </div>
            <div style="max-height: 400px; overflow-y: auto;">
                <table class="table table-striped table-hover table-bordered" id="AppointmentTable">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for adminData in adminInfo %}
                        <tr>
                            <td>{{ adminData[1] }}</td>
                            <td>
                     <div class="d-flex">
                    <a href="#" class="view" title="Update Admin Credentials" data-bs-toggle="modal" data-bs-target="#editAdminModal" onclick="updateAdminRecord({{ adminData[0] }}, '{{ adminData[1] }}')">
                       <i class="fa-solid fa-pencil"></i>
                    </a>
                     </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
           <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2><b>Secretary</b></h2>
                    </div>
                </div>
            </div>
            <div style="max-height: 400px; overflow-y: auto;">
                <table class="table table-striped table-hover table-bordered" id="MessageTable">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for secData in secInfo %}
                        <tr>
                            <td>{{ secData[1] }}</td>
                            <td>
                     <div class="d-flex">
                    <a href="#" class="view" title="Update Secretary Credentials" data-bs-toggle="modal" data-bs-target="#editSecModal" onclick="updateSecRecord({{ secData[0] }}, '{{ secData[1] }}')">
                       <i class="fa-solid fa-pencil"></i>
                    </a>
                     </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- Update Admin Credentials Modal -->
<div class="modal fade" id="editAdminModal" tabindex="-1" role="dialog" aria-labelledby="editAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAdminModalLabel">Update Admin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <!--Form -->
                <form action="/update_admin_credentials" method="POST" enctype="multipart/form-data" id="edit-form-wrapper" name="edit-form-wrapper">
                    <!-- Hidden input for record ID -->
                    <input type="number" name="adminID" id="edit-id-admin" style="display:none">

                    <!-- Edit fields with distinct IDs -->
                    <div class="form-group">
                      <label for="edit-username-admin">Username:</label>
                      <input type="text" class="form-control" name="adminUser" id="edit-username-admin" placeholder="enter username" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="edit-password-admin">New Password:</label>
                        <input  type="text" class="form-control" name="adminPass" id="edit-password-admin" placeholder="enter password" required>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary mb-2" id="admin-btnSubmit">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update Sec Credentials Modal -->
<div class="modal fade" id="editSecModal" tabindex="-1" role="dialog" aria-labelledby="editAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSecModalLabel">Update Secretary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <!--Form -->
                <form action="/update_secretary_credentials" method="POST" enctype="multipart/form-data" id="edit-form-wrapper-sec" name="edit-form-wrapper">
                    <!-- Hidden input for record ID -->
                    <input type="number" name="secID" id="edit-id-sec" style="display:none">

                    <!-- Edit fields with distinct IDs -->
                    <div class="form-group">
                      <label for="edit-username-admin">Username:</label>
                      <input type="text" class="form-control" name="secUser" id="edit-username-sec" placeholder="enter username" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="edit-password-admin">New Password:</label>
                        <input  type="text" class="form-control" name="secPass" id="edit-password-sec" placeholder="enter password" required>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary mb-2" id="sec-btnSubmit">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Bootstrap cdn -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- moment js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<!-- JS -->
<script src="/static/js/admin-account.js" crossorigin="anonymous"></script>
</body>
</html>
