<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Dashboard</title>
<!--BOOTSTRAP CDN-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--FONTS-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
<!--ICONS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<!--CSS-->
<link href="/static/css/admin-A&M.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<a class="navbar-brand" href="/">
    <img src="/static/img/logo.png" width="50" height="auto" class="d-inline-block align-top logo" alt="Logo">
    <h5 class="dental-title">ARC-Smile Dental Center</h5>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME</a>
      <li class="nav-item">
        <a class="nav-link" href="/services_page">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/book_an_appointment_page">BOOK AN APPOINTMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact_us_page">CONTACT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_dashboard_page">ADMIN</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-xl">
<div class="row justify-content-center">
    <div class="col-md-2">
      <a href="/admin_dashboard_page" class="dashboard-link">
        <i class="fa fa-tachometer mb-3" aria-hidden="true"></i>
        Dashboard
      </a>
    </div>
    <div class="col-md-2">
      <a href="/admin_tables_page" class="patient-records-link">
        <i class="fa fa-users mb-3" aria-hidden="true"></i>
        Patient Records
      </a>
    </div>
    <div class="col-md-2">
      <a href="/admin_calendar_page" class="clinic-calendar-link">
        <i class="fa fa-calendar mb-3" aria-hidden="true"></i>
        Clinic Calendar
      </a>
    </div>
    <div class="col-md-3">
      <a href="/admin_A&M_page" class="clinic-calendar-link">
        <i class="fa fa-paper-plane mb-3" aria-hidden="true"></i>
        Appointments & Messages
      </a>
    </div>
  <div class="col-md-2">
  <form method="get" action="/logout">
    <button type="submit">Log Out</button>
  </form>
  </div>
  </div>
</div>
    <div class="container-fluid">
  <hr>
      <div class="row">
      <div class="table-responsive col-md-6 mb-4">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2><b>Appointments</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" id="searchInput" class="form-control" placeholder="Search&hellip;">
                        </div>
                    </div>
                </div>
            </div>
            <div style="max-height: 400px; overflow-y: auto;">
                <table class="table table-striped table-hover table-bordered" id="AppointmentTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Schedule</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Aptdata in AptInfo %}
                        <tr>
                            <td>{{ Aptdata[3] }}, {{ Aptdata[1] }} {{ Aptdata[2] }}</td>
                            <td>{{ Aptdata[4] }}</td>
                            <td>{{ Aptdata[5] }}</td>
                            <td>
                    <a href="#" class="view" title="View Dental Reason" data-bs-toggle="modal" data-bs-target="#ReasonModal" data-dental="{{ Aptdata[6] }}">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                    <a href="#" class="complete" title="Finish Appointment">
                    <i class="fa-solid fa-flag-checkered" style="color:green;"></i>
                    </a>
                    <a href="/delete_appointment/{{ Aptdata[0] }}" class="delete" title="Cancel Appointment" onclick="return confirm('Are you sure you want to cancel this appointment?');">
                        <i class="fa-solid fa-ban" style="color:red;"></i>
                    </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

           <div class="table-responsive col-md-6">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2><b>Messages</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" id="searchMessageInput" class="form-control" placeholder="Search&hellip;">
                        </div>
                    </div>
                </div>
            </div>
            <div style="max-height: 400px; overflow-y: auto;">
                <table class="table table-striped table-hover table-bordered" id="MessageTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Subject</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Messdata in MessInfo %}
                        <tr>
                            <td>{{ Messdata[3] }}, {{ Messdata[1] }} {{ Messdata[2] }}</td>
                            <td>{{ Messdata[4] }}</td>
                            <td>{{ Messdata[5] }}</td>
                            <td>
                    <a href="#" class="view" title="View Message" data-bs-toggle="modal" data-bs-target="#messageModal"
                       data-mess="{{ Messdata[6] }}">
                       <i class="fa-regular fa-message"></i>
                    </a>
                    <a href="/delete_message/{{ Messdata[0] }}" class="delete" title="Delete Message" onclick="return confirm('Are you sure you want to delete this message?');">
                        <i class="material-icons">&#xE872;</i>
                    </a>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
     </div>

<!--View Message Modal-->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">View Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <!--Content-->
            </div>
        </div>
    </div>
</div>

<!--View Dental Reason Modal-->
    <div class="modal fade" id="ReasonModal" tabindex="-1" role="dialog" aria-labelledby="ReasonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ReasonModalLabel">Reason for dental consultation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <!--Content-->
            </div>
        </div>
    </div>
</div>

</div>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Bootstrap cdn -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- moment js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<!-- JS -->
<script src="/static/js/admin-A&M.js" crossorigin="anonymous"></script>
</body>
</html>
