<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--Bootstrap cdn -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- FONT -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
<!--ICONS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<!--CSS-->
<link href="/static/css/contact-us.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<a class="navbar-brand" href="/">
  <img src="/static/img/logo.png" width="50" height="auto" class="d-inline-block align-top logo" alt="Logo">
     <h5 class="dental-title">ARC-Smile Dental Center</h5>
 </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNavDropdown">
 <ul class="navbar-nav">
 <li class="nav-item active">
 <a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services_page">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/book_an_appointment_page">BOOK AN APPOINTMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact_us_page" style="color:white;">CONTACT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_dashboard_page">ADMIN</a>
 </li>
 </ul>
 </div>
</nav>


 <div class="card-body">
             <form action="/send_message" method="POST" name="frmUser" id="frmUser">
                 <div class="row">
                 <div class="col-sm-6 custom-background" style="border-radius: 20px;">
             <br>
             <div class="d-flex">
            <h2>Send Message</h2> <span id="showMessage" style="color:green;margin-left:70px;font-size:20px;display:none;"> Message successfully Sent!</span>
            </div>
            <br>

            <!-- TEXT INPUT ELEMENTS -->

            <div class="row">
                    <div class="form-group col-md-4">
                         <label for="FirstName">First Name:</label>
                         <input type="text" class="form-control"  name="FirstName" id="FirstName" placeholder="Enter first name">
                         <span style="color: red;" id="FNval"></span>
                    </div>

                    <div class="form-group col-md-4">
                         <label for="MiddleName">Middle Name:</label>
                         <input type="text" class="form-control"  name="MiddleName" id="MiddleName" placeholder="Enter middle name">
                         <span style="color: red;" id="MNval"></span>
                    </div>

                    <div class="form-group col-md-4">
                         <label for="LastName">Last Name:</label>
                         <input type="text" class="form-control"  name="LastName" id="LastName" placeholder="Enter last name">
                         <span style="color: red;" id="LNval"></span>
                    </div>
              </div>
            <br>
            <div class="form-group">
                 <label for="EmailAdd">Email Address:</label>
                 <input type="email" class="form-control"  name="EmailAdd" id="EmailAdd" placeholder="enter email address" required>
             </div>
             <br>
             <div class="form-group">
                <label for="Subject">Subject:</label>
                <input type="text" class="form-control"  name="Subject" id="Subject" placeholder="enter subject" required>
            </div>
            <br>
            <div class="form-group">
                <label for="Message">Message:</label>
                <textarea class="form-control" style="height:100px;" name="Message" id="Message" maxlength="500" placeholder="enter message" required></textarea>
                 <span id="charCount">0/500 characters</span>
            </div>


            <!-- ACTION OR COMMAND BUTTONS -->
            <br>
            <div class="form-group text-center">
                <button type="submit" style="width:250px;" class="form-control btn btn-primary mb-2" id="btnSubmit">SUBMIT MESSAGE</button>
            </div>
            </div>

     <div id="map" class="col-sm-6">
		<iframe class="map-iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15416.571805348935!2d120.6223422!3d14.9847678!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396597bd2ee96cb%3A0x1db600bb16762557!2sARC-S%20DENTAL%20CENTER!5e0!3m2!1sen!2sph!4v1680955083473!5m2!1sen!2sph" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     </div>
                 </div>
                     </form>
 </div>

<footer>
    <div class="contact-image-container">
        <img src="/static/img/contact.png" alt="Contact Image" class="contact-image"><br>
        <span class="copyright-label">Copyright © 2023 ARC-Smile Dental Center All Rights Reserved.</span>
        <div class="black-column"></div>
    </div>
</footer>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Bootstrap cdn -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- moment js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<!-- JS -->
<script src="/static/js/contact-us.js"></script>
</body>
</html>