<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--Bootstrap cdn -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- FONT -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
<!--ICONS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<!--CSS-->
<link href="/static/css/services.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<a class="navbar-brand" href="/">
    <img src="/static/img/logo.png" width="50" height="auto" class="d-inline-block align-top logo" alt="Logo">
    <h5 class="dental-title">ARC-Smile Dental Center</h5>
</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
<a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services_page" style="color:white;">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/book_an_appointment_page">BOOK AN APPOINTMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact_us_page">CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>


<!-- CONTAINER -->
<div class="container align-items-center min-vh-100">
<div class="row margin1">
    <div class="col-sm-4">
      <div class="image1-container">
        <img class="img-fluid" src="/static/img/services_img/SLbraces.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Self Ligating Braces" data-bs-target="#SLB" data-bs-toggle="modal"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image2-container">
        <img class="img-fluid" src="/static/img/services_img/Ceramic.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Ceramic Braces" data-bs-target="#CB" data-bs-toggle="modal"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image3-container">
        <img class="img-fluid" src="/static/img/services_img/crown.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Crown" data-bs-target="#CRN" data-bs-toggle="modal"></a>
      </div>
    </div>
</div>

<div class="row margin2">
    <div class="col-sm-4">
      <div class="image1-container image1-container2">
        <img class="img-fluid" src="/static/img/services_img/dental-implant.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Dental Implants" data-bs-target="#DI" data-bs-toggle="modal"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image2-container">
        <img class="img-fluid" src="/static/img/services_img/dental-surgery.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Surgery For Impacted Teeth" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 15px;" data-bs-target="#SFIT" data-bs-toggle="modal"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image3-container">
        <img class="img-fluid" src="/static/img/services_img/GumCon.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Gum Contouring" data-bs-target="#GC" data-bs-toggle="modal"></a>
      </div>
    </div>
</div>

<div class="row margin3">
    <div class="col-sm-4">
      <div class="image1-container image1-container2">
        <img class="img-fluid" src="/static/img/services_img/InviBraces.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Invisalign (Clear Braces)" data-bs-target="#ICB" data-bs-toggle="modal"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image2-container">
        <img class="img-fluid" src="/static/img/services_img/OralP.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Oral Prophylaxis" data-bs-target="#OP" data-bs-toggle="modal"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image3-container">
        <img class="img-fluid" src="/static/img/services_img/orthodontic.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Orthodontic Braces" data-bs-target="#OB" data-bs-toggle="modal"></a>
      </div>
    </div>
</div>

<div class="row margin4">
    <div class="col-sm-4">
      <div class="image1-container image1-container2">
        <img class="img-fluid" src="/static/img/services_img/prosthodontics.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Prosthodontics" data-bs-target="#PROS" data-bs-toggle="modal"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image2-container">
        <img class="img-fluid" src="/static/img/services_img/restoration.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Restoration" data-bs-target="#RES" data-bs-toggle="modal"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image3-container">
        <img class="img-fluid" src="/static/img/services_img/retainer.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Retainer" data-bs-target="#RET" data-bs-toggle="modal"></a>
      </div>
    </div>
</div>

<div class="row margin5">
    <div class="col-sm-4">
      <div class="image1-container image1-container2">
        <img class="img-fluid" src="/static/img/services_img/root-canal-treatment.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Root Canal Treatment" data-bs-target="#RCT" data-bs-toggle="modal"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image2-container">
        <img class="img-fluid" src="/static/img/services_img/teeth-whitening.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Teeth Whitening" data-bs-target="#TW" data-bs-toggle="modal"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image3-container">
        <img class="img-fluid" src="/static/img/services_img/tooth-extraction-service.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Tooth Extraction Services" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" data-bs-target="#TES" data-bs-toggle="modal"></a>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
      <div class="image1-container image1-container2">
        <img class="img-fluid" src="/static/img/services_img/Conventional.jpg" alt="Image Description"><br>
          <a href="#" class="btn-flip" data-back="View Service" data-front="Conventional Braces" data-bs-target="#CVB" data-bs-toggle="modal"></a>
      </div>
    </div>
</div>
<!------------------- SERVICES MODALS -------------------------->

<!--Self Ligating Braces-->
    <div class="modal fade" id="SLB" tabindex="-1" role="dialog" aria-labelledby="SLBModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SLBModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
        <div class="modal-body">
            <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/SLbraces.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Self-ligating braces are an advanced orthodontic treatment option characterized by brackets that have built-in clips or doors. These brackets hold the archwire in place without the need for traditional elastic bands or ligatures. Self-ligating braces work to straighten teeth by gently applying consistent pressure for precise and comfortable tooth alignment.</label>
                   </div>
                </div>
        </div>
        </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Ceramic Braces-->
    <div class="modal fade" id="CB" tabindex="-1" role="dialog" aria-labelledby="CBModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CBModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/Ceramic.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Ceramic braces are a discreet alternative to traditional metal braces. They feature brackets and wires made from tooth-colored or clear materials, making them less conspicuous. Ceramic braces provide effective teeth straightening while offering a cosmetic advantage by blending with the natural color of your teeth.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Crown-->
    <div class="modal fade" id="CRN" tabindex="-1" role="dialog" aria-labelledby="CRNModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CRNModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/crown.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">A dental crown, also known as a dental cap, is a custom-made cover that fits over a damaged or weakened tooth. Crowns are crafted from materials such as porcelain, ceramic, metal, or a combination, and they provide strength, protection, and an aesthetically pleasing appearance to the treated tooth.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Dental Implants-->
    <div class="modal fade" id="DI" tabindex="-1" role="dialog" aria-labelledby="CRNModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DIModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/dental-implant.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Dental implants are biocompatible titanium posts surgically inserted into the jawbone to serve as artificial tooth roots. These implants create a stable foundation for dental prosthetics, such as crowns, bridges, or dentures. Dental implants are a long-lasting solution for replacing missing teeth and restoring both function and aesthetics.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Dental Surgery for Impacted Teeth-->
    <div class="modal fade" id="SFIT" tabindex="-1" role="dialog" aria-labelledby="SFITModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SFITModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/dental-surgery.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Dental surgery for impacted teeth involves the surgical removal of teeth that are unable to fully emerge from the gums, often due to lack of space or improper positioning. This procedure is necessary to prevent pain, infection, and other dental issues associated with impacted teeth.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Gum Contouring-->
    <div class="modal fade" id="GC" tabindex="-1" role="dialog" aria-labelledby="GCModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="GCModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/GumCon.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Gum contouring, also known as gum reshaping or gingival sculpting, is a cosmetic dental procedure that involves removing excess gum tissue and reshaping the gum line. This treatment is performed to improve the balance between the teeth and gums, enhancing the overall aesthetics of the smile.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Invisalign (Clear Braces)-->
    <div class="modal fade" id="ICB" tabindex="-1" role="dialog" aria-labelledby="ICBModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ICBModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/InviBraces.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Invisalign, often referred to as clear braces, is a discreet orthodontic treatment option. It involves the use of a series of custom-made, clear aligners to gradually move teeth into the desired positions. Invisalign aligners are removable, virtually invisible, and provide a comfortable way to achieve a straighter smile.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Oral Prophylaxis-->
    <div class="modal fade" id="OP" tabindex="-1" role="dialog" aria-labelledby="OPModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="OPModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/OralP.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Oral prophylaxis, commonly known as a dental cleaning, is a routine preventive dental procedure. During a cleaning, a dental hygienist removes plaque, tartar, and surface stains from teeth. This essential procedure helps prevent dental problems, including cavities and gum disease, by maintaining optimal oral hygiene.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Orthodontic Braces-->
    <div class="modal fade" id="OB" tabindex="-1" role="dialog" aria-labelledby="OBModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="OBModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/orthodontic.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Orthodontic braces encompass a range of devices and techniques used to correct misaligned teeth and bite irregularities. Braces work by applying controlled pressure to move teeth into their proper positions. They are valuable for enhancing both dental function and aesthetics, ultimately resulting in a healthier and more attractive smile.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Prosthodontics-->
    <div class="modal fade" id="PROS" tabindex="-1" role="dialog" aria-labelledby="PROSModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PROSModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/prosthodontics.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Prosthodontics is a specialized field of dentistry that focuses on the design, creation, and placement of dental prostheses. These prostheses can include bridges, dentures, dental implants, and other restorative devices. Prosthodontics aims to restore oral function, improve aesthetics, and enhance a patient's overall quality of life by replacing missing or damaged teeth.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Restoration-->
    <div class="modal fade" id="RES" tabindex="-1" role="dialog" aria-labelledby="RESModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RESModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/restoration.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Dental restoration encompasses various procedures aimed at repairing teeth that have been damaged, decayed, or weakened. Depending on the extent of the issue, restoration techniques may include the placement of dental fillings, onlays, inlays, or crowns. The goal is to restore the tooth's structure, function, and appearance.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Retainer-->
    <div class="modal fade" id="RET" tabindex="-1" role="dialog" aria-labelledby="RETModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RETModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/retainer.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">A retainer is a removable dental appliance custom-made to fit the patient's teeth. It is often used after orthodontic treatment to maintain the newly corrected tooth alignment. Retainers help prevent teeth from shifting back to their original positions, ensuring the longevity of the orthodontic results.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Root Canal Treatment-->
    <div class="modal fade" id="RCT" tabindex="-1" role="dialog" aria-labelledby="RCTModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RCTModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/root-canal-treatment.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Root canal treatment, or endodontic therapy, is a dental procedure performed to save a tooth that has an infected or damaged pulp (the innermost part of the tooth). During the procedure, the infected pulp is removed, the root canal is cleaned and disinfected, and then it is sealed. Root canal treatment is a crucial way to alleviate pain and preserve a tooth.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Teeth Whitening-->
    <div class="modal fade" id="TW" tabindex="-1" role="dialog" aria-labelledby="TWModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TWModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/teeth-whitening.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Teeth whitening is a cosmetic dental procedure designed to brighten the color of teeth and reduce surface stains. This popular treatment can be administered professionally in a dental office or at home using dentist-supervised kits. It helps improve the overall appearance of your teeth by achieving a more youthful and radiant smile.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Tooth Extraction Services-->
    <div class="modal fade" id="TES" tabindex="-1" role="dialog" aria-labelledby="TESModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TESModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/tooth-extraction-service.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Tooth extraction services involve the professional removal of a tooth from its socket in the jawbone. This procedure is typically performed when a tooth is severely damaged, decayed, impacted, or causing other oral health issues. Tooth extraction is essential to prevent further complications and maintain overall oral well-being.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Conventional Braces-->
    <div class="modal fade" id="CVB" tabindex="-1" role="dialog" aria-labelledby="CVBModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CVBModalLabel">Service Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container Modalcontainer" style="background:gray;padding:40px;margin-top:60px;border-radius:15px;height:320px;width:1100px;">
                <div class="row">
                   <div class="col-sm-4">
                     <img class="img-fluid imgModal" src="/static/img/services_img/Conventional.jpg" alt="Image Description">
                   </div>
                   <div class="col-sm-8">
                       <label class="lblModal">Conventional braces are a tried-and-true method for aligning teeth and correcting bite issues. These braces consist of metal brackets attached to each tooth, connected by an archwire. Over time, adjustments to the archwire guide teeth into their desired positions. Conventional braces are versatile and can address various orthodontic concerns.</label>
                   </div>
                </div>
                </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</div>

<footer>
    <div class="contact-image-container">
        <img src="/static/img/contact.png" alt="Contact Image" class="contact-image"><br>
        <span class="copyright-label">Copyright © 2023 ARC-Smile Dental Center All Rights Reserved.</span>
        <div class="black-column"></div>
    </div>
</footer>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Bootstrap cdn -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- moment js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<!-- JS -->
<script src="/static/js/services.js"></script>
</body>
</html>
