<!DOCTYPE html>
<html lang="en">
<head>
    <title>VIEW TREATMENT RECORD</title>
     <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<!--BOOTSTRAP CDN-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--FONTS-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
<!--ICONS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<!--CSS-->
<link rel="stylesheet" href="/static/css/treatment-records.css">
</head>
<body>
     <div class="card-body">
          <div class="row">
          <div class="col-sm-10">
          <h5>TREATMENT RECORDS</h5>
          </div>
          <div class="col-sm-2">
          <p><a href="/admin_tables_page"><button type="button" class="btn btn-dark">Back to List</button></a></p>
          </div>
         </div>

         <div class="col-sm-3">
         <b><span>Full Name: {{ row[1] }}</span></b>
         </div>

         <div class="col-sm-3">
             <b><span>Add Record:</span></b>
          <a href="#" class="add" title="Add Treatment Record" data-bs-toggle="modal" data-bs-target="#treatmentModal">
          <i class="bi bi-file-earmark-plus-fill" style="font-size: 28px;color:white;"></i>
          </a>
          </div>

         <br>
          <table id="data" class="table table-striped responsive">
                      <thead>
                        <tr>
                            <th>Date</th>
                            <th>Procedure</th>
                            <th>Remarks</th>
                            <th>Amount Charged</th>
                            <th>Amount Paid</th>
                            <th>Balance</th>
                            <th>Next Appointment</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in treatment_records %}
                            <tr>
                                <td>{{ record[2] }}</td>
                                <td>{{ record[3] }}</td>
                                <td>{{ record[4] }}</td>
                                <td>₱{{ record[5] }}</td>
                                <td>₱{{ record[6] }}</td>
                                <td>₱{{ record[5] - record[6] }}</td>
                                <td>{{ record[8] }}</td>
                                <td>
                    <a href="#" class="edit" title="Edit Record" data-bs-toggle="modal" data-bs-target="#editTreatmentModal" onclick="editRecord({{ record[0] }}, '{{ record[3] }}', '{{ record[4] }}', {{ record[5] }}, {{ record[6] }}, '{{ record[8] }}')">
                            <i class="fa-solid fa-pencil" style="color:yellow;"></i>
                    </a>
                            <a href="#" class="delete" title="Delete Record" style="color:red;margin-left:10px;" data-bs-toggle="modal" data-bs-target="#deleteRecordModal" data-record-id="{{ record[0] }}">
                                <i class="material-icons">&#xE872;</i>
                            </a>
                            </td>
                            </tr>
                            {% endfor %}
                    </tbody>
          </table>
     </div>
<!-- Modal -->
<div class="modal fade" id="treatmentModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="treatmentModalLabel">Add Treatment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <!--Content-->
                 <form action="/submit_treatment" method="POST" enctype="multipart/form-data" id="form-wrapper" name="form-wrapper">
                  <div class="form-group">
                      <input  type="number" class="form-control" name="ID" id="ID" value="{{ row[0] }}" placeholder="enter id" required style="display:none;">
                  </div>

                  <div class="form-group" style="display:none;">
                      <label for="Date">Date:</label>
                      <input type="date" class="form-control" name="Date" id="Date" placeholder="enter date" required>
                  </div>
                <br>
                  <div class="form-group">
                      <label for="Procedure">Procedure:</label>
                      <input  type="text" class="form-control" name="Procedure" id="Procedure" placeholder="enter procedure" required>
                  </div>
                <br>
                  <div class="form-group">
                      <label for="Remarks">Remarks:</label>
                      <input  type="text" class="form-control" name="Remarks" id="Remarks" placeholder="enter remarks" required>
                  </div>
                <br>
                  <div class="form-group">
                      <label for="AmountCharged">Amount Charged:</label>
                      <input  type="number" class="form-control" name="AmountCharged" id="AmountCharged" placeholder="enter amount charged" required>
                  </div>
                <br>
                  <div class="form-group">
                      <label for="AmountPaid">Amount Paid:</label>
                      <input  type="number" class="form-control" name="AmountPaid" id="AmountPaid" placeholder="enter amount paid" required>
                  </div>
                <br>
                    <input type="checkbox" name="checkAppointment" id="checkAppointment">
                    <label>Add next appointment.</label>
                  <div class="form-group" id="NA-section" style="display:none;">
                      <label for="NextAppointment">Next Appointment:</label>
                      <input  type="text" class="form-control" name="NextAppointment" id="NextAppointment" placeholder="mm/dd/yyyy" maxlength="10" required value="N/A">
                  </div>
                     <br><br>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary mb-2" id="btnSubmit">SUBMIT</button>
            </div>
                 </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Treatment Record Modal -->
<div class="modal fade" id="editTreatmentModal" tabindex="-1" role="dialog" aria-labelledby="editTreatmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTreatmentModalLabel">Edit Treatment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Edit Treatment Record Form -->
                <form action="/update_treatment" method="POST" enctype="multipart/form-data" id="edit-form-wrapper" name="edit-form-wrapper">
                    <!-- Hidden input for record ID -->
                    <input type="number" name="ID" id="edit-ID" value="{{ row[0] }}" style="display:none;">

                    <!-- Edit fields with distinct IDs -->
                    <div class="form-group" style="display:none;">
                      <label for="edit-Date">Date:</label>
                      <input type="date" class="form-control" name="Date" id="edit-Date" placeholder="enter date" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="edit-Procedure">Procedure:</label>
                        <input  type="text" class="form-control" name="Procedure" id="edit-Procedure" placeholder="enter procedure" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="edit-Remarks">Remarks:</label>
                        <input  type="text" class="form-control" name="Remarks" id="edit-Remarks" placeholder="enter remarks" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="edit-AmountCharged">Amount Charged:</label>
                        <input  type="number" class="form-control" name="AmountCharged" id="edit-AmountCharged" placeholder="enter amount charged" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="edit-AmountPaid">Amount Paid:</label>
                        <input  type="number" class="form-control" name="AmountPaid" id="edit-AmountPaid" placeholder="enter amount paid" required>
                    </div>
                    <br>
                    <div class="form-group" id="edit-NA-section">
                        <label for="edit-NextAppointment">Next Appointment:</label>
                        <input  type="text" class="form-control" name="NextAppointment" id="edit-NextAppointment" placeholder="mm/dd/yyyy" maxlength="10" required>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary mb-2" id="edit-btnSubmit">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteRecordModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRecordModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this record?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="#" id="deleteRecordLink" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>



<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Bootstrap cdn -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- moment js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<!-- JS -->
<script src="/static/js/treatment-records.js"></script>
</body>
</html>
