
.navbar-nav .nav-item {
  margin-right: 12px;
  font-size: 15px;
}

.logo {

 border-radius: 50%;
 margin-left: 20px;
}

.dental-title {
    position: absolute;
    margin-top: -38px;
    margin-left: 77px;
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

body {
    background: gray;
    font-family: 'Josefin Sans';
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 100px;
    padding-bottom: 10px;
}

.dashboard-link .fa,
.patient-records-link .fa,
.clinic-calendar-link .fa,
.dashboard-link,
.patient-records-link,
.clinic-calendar-link {
   color: black;
}

#appointment-calendar {
    background: #535252;
    color: #CEB339;
}



.fc-event-title-container {
    text-align: center;
    cursor: pointer;
}

.modal-dialog {
  max-width: 800px;
  width: 100%;
}

.ddl {
    width: 300px;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    border: 3px solid black;
    padding: 10px;
    background-color: #f9f9f9;
    margin-right: 50px;
}

.drs {
    width: 300px;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    border: 3px solid black;
    padding: 10px;
    background-color: #f9f9f9;
}

.ddl ul li:nth-child(odd) {
    background-color: #f9f9f9; /* Light gray background for odd lines */
    padding: 5px;
}

.drs ul li:nth-child(odd) {
    background-color: #f9f9f9; /* Light gray background for odd lines */
    padding: 5px;
}

.ddl ul li:nth-child(even) {
    background-color: #e0e0e0; /* Slightly darker background for even lines */
    padding: 5px;
}

.drs ul li:nth-child(even) {
    background-color: #e0e0e0; /* Slightly darker background for even lines */
    padding: 5px;
}

.modal-header {
    background-color: gray;
}


.modal-title {
    color: white;
}

.hc {
   color: black;
}

.hcm {
   color: #F1E9E9;
}

.dashboard-link:hover,
.patient-records-link:hover,
.clinic-calendar-link:hover {
  color: #CCC8C8;
}

.btn-calendar{
    margin-left: 50px;
    height: 35px;
    border-radius: 10px;
}


@media (max-width: 420px) {

.ddl {
    margin-bottom: 10px;
}

}



