
.navbar-nav .nav-item {
  margin-right: 12px;
  font-size: 15px;
}

.logo {

 border-radius: 50%;
 margin-left: 20px;
}

.dental-title {
    position: absolute;
    margin-top: -38px;
    margin-left: 77px;
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

.custom-icon {
    font-size: 50px;
}

.box {
    background-color: #F0ECEC;
    border: 10px solid #444343;
    padding: 30px;
    height: 200px;
  }

body {
    background: gray;
    font-family: 'Josefin Sans';
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 100px;
    padding-bottom: 10px;
}

/* Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile *Mobile*/
@media (max-width: 420px) {

html, body {
    overflow-x: hidden;
}

.custom-tabs{
    width: 300px !important;
    margin-bottom: 10px;
}

}

