
.navbar-nav .nav-item {
  margin-right: 12px;
  font-size: 15px;
}

.logo {

 border-radius: 50%;
 margin-left: 20px;
}

.dental-title {
    position: absolute;
    margin-top: -38px;
    margin-left: 77px;
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

body {
    background: gray;
    font-family: 'Josefin Sans';
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 100px;
    padding-bottom: 10px;
}

.dashboard-link .fa,
.patient-records-link .fa,
.clinic-calendar-link .fa,
.dashboard-link,
.patient-records-link,
.clinic-calendar-link {
   color: black;
}

.hc {
   color: black;
}

.hcm {
   color: #F1E9E9;
}

.dashboard-link:hover,
.patient-records-link:hover,
.clinic-calendar-link:hover {
  color: #CCC8C8;
}
