body {
    background: #4D4C4C;
        font-family: "Verdana", sans-serif;
}

body, h5, p, span, th, td, a {
    color: #D7D1D1;
}

.modal-content {
    background-color: #fff;
    color: #000;
}


.modal-header {
    background-color: gray;
}


.modal-title {
    color: white;
}

.btn-close {
    color: #000;
}

#pass {
    position: relative;
}

#show-password {
    position: absolute;
    margin-top: 5px;
    transform: translateX(-30px);
    cursor: pointer;
}

