
.navbar-nav .nav-item {
  margin-right: 12px;
  font-size: 15px;
}

.logo {
 border-radius: 50%;
 margin-left: 20px;
}

.dental-title {
    position: absolute;
    margin-top: -38px;
    margin-left: 77px;
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

body {
    background: black;
    font-family: 'Josefin Sans';
    color: #566787;
}

footer {
    position: relative; /* Keep it in the flow of the content */
    text-align: center;
    z-index: 2; /* Ensure it's above other content */
    clear: both;
    margin-top: 50px;
}


.custom-container {
    min-height: 3900px;
    max-height: none;
}

/* CSS for fading in */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}


/*Home Buttons*/
.bookButton {
    font-size: 20px;
    margin-right: 100px;
    width: 150px;
}

.fbButton {
    font-size: 20px;
    width: 60px;
}

.buttonLink {
    margin-left: 200px;
}

/*Home Images*/
.homeLogo{
    border-radius: 50%;
    width: 500px;
    height: auto;
    margin-top: 90px;
    margin-left: 50px;
    user-select: none;
}

.imgDOC {
    width: 230px;
    height: auto;
    user-select: none;
    margin-top: 50px;
    margin-left: 200px;
}

.imgClinic1 {
    width: 600px;
    height: auto;
    user-select: none;
    margin-top: 150px;
    margin-left: -90px;
    border-radius: 20px;
}

.imgClinic2 {
    width: 600px;
    height: auto;
    user-select: none;
    margin-top: 150px;
    border-radius: 20px;
}

.imgClinic3 {
    width: 600px;
    height: auto;
    user-select: none;
    margin-top: 150px;
    margin-left: -90px;
    border-radius: 20px;
}

/*Home Labels*/
.lb1 {
    font-size: 50px;
    color: #E0E0E8;
    margin-top: 150px;
    user-select: none;
    text-align: left;
}

.lb2{
    text-align: left;
    font-size: 32px;
    color: #E0E0E8;
    user-select: none;
    margin-top: 140px;
}

.lb3 {
    font-size: 50px;
    user-select: none;
    text-align: center;
    color: #E0E0E8;
    margin-top:300px;
}

.lb4{
    text-align: justify;
    font-size: 28px;
    color: #E0E0E8;
    user-select: none;
    margin-top: 250px;
}

.lb5{
    text-align: left;
    font-size: 28px;
    color: #E0E0E8;
    user-select: none;
    margin-top: 250px;
}

.lb6{
    text-align: left;
    font-size: 28px;
    color: #E0E0E8;
    user-select: none;
    margin-top: 250px;
}

.lb7 {
    font-size: 45px;
    user-select: none;
    text-align: center;
    color: #E0E0E8;
    margin-top:200px;
}

.contact-image-container {
    position: relative;
    text-align: center;
}

.contact-image {
    width: 630px;
    height: auto;
    user-select: none;
}

.copyright-label {
  position: absolute;
  bottom: 0; /* Attach it to the bottom of the contact-image-container */
  left: 0;
  right: 0; /* Stretch it to both sides of the container */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  color: white;
  padding: 5px; /* Add some padding for readability */
  z-index: 3; /* Place it above other content */
}

.black-column {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    z-index: -1;
}

/* Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile * Mobile*/
@media (max-width: 420px) {

.dental-title {
   font-size: 1rem;
}

html, body {
    overflow-x: hidden;
}

.col-custom {
   width: 50%; /* Set the column width to 50% for equal splitting */
}



.navbar-nav .nav-item {
  margin-right: 12px;
  font-size: 15px;
}

footer {
    position: relative; /* Keep it in the flow of the content */
    text-align: center;
    z-index: 2; /* Ensure it's above other content */
    clear: both;
    margin-top: 50px;
}


.custom-container {
    min-height: 3000px;
    max-height: none;
}

/*Home Buttons*/
.bookButton {
    font-size: 20px;
    margin-right: 100px;
    width: 150px;
}

.fbButton {
    margin-top: 20px;
    font-size: 20px;
    width: 150px;
}

.buttonLink {
    margin-top: 50px;
    margin-left: 200px;
}

/*Home Images*/
.homeLogo{
    border-radius: 50%;
    width: 190px;
    height: auto;
    margin-top: -140px;
    margin-left: 20px;
    user-select: none;
}

.imgDOC {
    width: 150px;
    height: auto;
    user-select: none;
    margin-top: 110px;
    margin-left: 20px;
}

.imgClinic1 {
    width: 380px;
    height: auto;
    user-select: none;
    margin-top: 50px;
    margin-left: 0px;
    border-radius: 20px;
}

.imgClinic2 {
    width: 380px;
    height: auto;
    user-select: none;
    margin-left: 0px;
    margin-top: -500px;
    border-radius: 20px;
}

.imgClinic3 {
    width: 380px;
    height: auto;
    user-select: none;
    margin-top: 100px;
    margin-left: 0px;
    border-radius: 20px;
}

/*Home Labels*/
.lb1 {
    font-size: 30px;
    color: #E0E0E8;
    margin-top: 150px;
    user-select: none;
    text-align: center;
}

.lb2{
    text-align: left;
    font-size: 18px;
    color: #E0E0E8;
    user-select: none;
    margin-top: 140px;
}

.lb3 {
    font-size: 35px;
    user-select: none;
    text-align: center;
    color: #E0E0E8;
    margin-top: 150px;
}

.lb4{
    text-align: justify;
    font-size: 22px;
    color: #E0E0E8;
    user-select: none;
    margin-top: 30px;
}

.lb5{
    text-align: left;
    font-size: 22px;
    color: #E0E0E8;
    user-select: none;
    margin-top: 450px;
}

.lb6{
    text-align: left;
    font-size: 22px;
    color: #E0E0E8;
    user-select: none;
    margin-top: 20px;
}

.lb7 {
    font-size: 22px;
    user-select: none;
    text-align: center;
    color: #E0E0E8;
    margin-top:200px;
}

.contact-image-container {
    position: relative;
    text-align: center;
}

.contact-image {
    width: 500px;
    margin-left: -50px;
    height: auto;
    user-select: none;
}

.copyright-label {
  position: absolute;
  bottom: 0; /* Attach it to the bottom of the contact-image-container */
  left: 0;
  right: 0; /* Stretch it to both sides of the container */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  color: white;
  padding: 5px; /* Add some padding for readability */
  z-index: 3; /* Place it above other content */
  font-size: 10px;
}

.black-column {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    z-index: -1;
}

}

