
.navbar-nav .nav-item {
  margin-right: 12px;
  font-size: 15px;
}

.logo {

 border-radius: 50%;
 margin-left: 20px;
}

.dental-title {
    position: absolute;
    margin-top: -38px;
    margin-left: 77px;
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

body {
    background-image: url('/static/img/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Josefin Sans';
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 100px;
    padding-bottom: 10px;
    color: #566787;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #00011c;
}

/*
.mof-image {
  position: absolute;
  right: 100px;
  width: 500px;
  height: 540px;
  z-index: 1;
}
*/

.contact-image {
  display: block;
  margin: 0 auto;
  width: 900px;
  height: 250px;
  z-index: 1;
}

/* Left black column */
.black-column {
    background-color: black;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: -1; /* Place it behind the image */
}


/* Mobile */
@media (max-width: 420px) {

  .navbar-nav {
    display: block;
  }


}

